@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
  }
  @font-face {
  font-family: "policelogo";
  src: url("/fonts/OrangeAvenueDEMO-Regular.woff2") format("woff2"),
       url("/fonts/OrangeAvenueDEMO-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html, body {
  margin: 0;
  padding: 0;
}
.sophro-page {
  padding-top: 24px; /* exemple */
}
.sophro-page h1 {
  margin-top: 0;
}
